<mat-card-content>
  <h4>Информация:</h4>
  <mat-grid-list cols="3" rowHeight="9:1">
    <mat-grid-tile>
      <div class="tile">
        Стадия: {{(info?.state.name)}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile">
        Вид: {{(info?.kind.name)}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile">
        Кворум: {{(info?.quorum.name)}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div class="tile">
        Дата начала: {{(info?.beginDate|date:'dd.MM.yyyy HH:mm')}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div class="tile">
        Дата окончания: {{(info?.endDate|date:'dd.MM.yyyy HH:mm')}}
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <section *ngIf="info?.holderInitiators.length > 0">
    <h4>Собственники-инициаторы:</h4>
    <mat-chip-list>
      <mat-chip *ngFor="let holder of info?.holderInitiators">
        <div class="tile">
          {{holder.name}}
        </div>
      </mat-chip>
    </mat-chip-list>
  </section>
</mat-card-content>
