<table class="table table-striped">

  <tr>
    <th style="white-space: nowrap">
      Name
      <div class="dropdown" style="display: inline-block" dropdown>
                <span dropdownToggle [ngClass]="{
                    'dropdown-toggle': true,
                    'caret-sort': true,
                    'caret-sort-active': isColumnSortedBy(['app_name'])
                }">
                    <span class="glyphicon glyphicon-arrow-down "></span>
                </span>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a [ngClass]="{'bold': isSortedBy('app_name')}" (click)="addSort('app_name', '')">Sort A-Z</a></li>
          <li><a [ngClass]="{'bold': isSortedBy('-app_name')}" (click)="addSort('app_name', '-')">Sort Z-A</a></li>
          <li><a (click)="resetSort(['app_name'])">Reset</a></li>
        </ul>
      </div>
    </th>
    <th style="white-space: nowrap">
      Target
      <div class="dropdown" style="display: inline-block" dropdown>

                            <span dropdownToggle [ngClass]="{
                                'dropdown-toggle': true,
                                'caret-sort': true,
                                'caret-sort-active': isColumnSortedBy(['env'])
                            }">
                                <span class="glyphicon glyphicon-arrow-down "></span>
                            </span>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a [ngClass]="{'bold': isSortedBy('env')}" (click)="addSort('env', '')">Sort A-Z</a></li>
          <li><a [ngClass]="{'bold': isSortedBy('-env')}" (click)="addSort('env', '-')">Sort Z-A</a></li>
          <li><a (click)="resetSort(['env'])">Reset</a></li>
          <li><a [ngClass]="{'bold': isFilteredBy('ALL')}" (click)="setFilter(null)">ALL</a></li>
          <li><a [ngClass]="{'bold': isFilteredBy('DEV')}" (click)="setFilter('DEV')">DEV</a></li>
          <li><a [ngClass]="{'bold': isFilteredBy('UAT')}" (click)="setFilter('UAT')">UAT</a></li>
          <li><a [ngClass]="{'bold': isFilteredBy('PROD')}" (click)="setFilter('PROD')">PROD</a></li>
        </ul>
      </div>
    </th>
    <th colspan="3" style="white-space: nowrap; text-align: center">
      Activity
    </th>
  </tr>

  <ng-container *ngIf="loader">
    <tr>
      <td colspan="6" align="center">
        <span class="glyphicon glyphicon-refresh spinner"></span>
      </td>
    </tr>
  </ng-container>

  <ng-container *ngIf="!loader && !appList.data.length">
    <tr>
      <td colspan="6" align="center">
        <span class="text-warning">No data to display</span>
      </td>
    </tr>
  </ng-container>

  <ng-container *ngFor="let app of appList.data">
    <tr>
      <td>{{app.name}}</td>
      <td>
        <div class="blue-label">{{app.env}}</div>
      </td>
      <td width="20%">
        <div style="height: 150px; width: 200px; margin: 0 auto">
          <chart [type]="'doughnut'" [data]="app.builds" [options]="options"></chart>
          <!--<div style="color: #666; font-size: 0.7em; margin-top: -96px; text-align: center;">Builds</div>-->
        </div>
      </td>
      <td width="20%">
        <div style="height: 150px; width: 200px; margin: 0 auto">
          <chart [type]="'doughnut'" [data]="app.deployments" [options]="options"></chart>
          <!--<div style="color: #666; font-size: 0.7em; margin-top: -96px; text-align: center;">Deployments</div>-->
        </div>
      </td>
      <td width="20%">
        <div style="height: 150px; width: 200px; margin: 0 auto">
          <chart [type]="'doughnut'" [data]="app.instances" [options]="options"></chart>
          <!--<div style="color: #666; font-size: 0.7em; margin-top: -96px; text-align: center;">Instances</div>-->
        </div>
      </td>
    </tr>
  </ng-container>
</table>

<nav aria-label="Page navigation" *ngIf="false">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
