<mat-card>
  <mat-card-title>
    {{(title)}}
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content>
    <section *ngIf="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <h4>Информация:</h4>
        <mat-grid-list cols="6" gutterSize="20" rowHeight="4em">
          <mat-grid-tile colspan="3">
            <mat-form-field class="fullwidth">
              <mat-select formControlName="kind" placeholder="Вид" tabindex="1">
                <mat-option *ngFor="let kind of meetingEnums.MeetingKind" [value]="kind">{{kind.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f('kind').invalid">{{e('kind')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="3">
            <mat-form-field class="fullwidth">
              <mat-select formControlName="quorum" placeholder="Кворум" tabindex="2">
                <mat-option *ngFor="let quorum of meetingEnums.MeetingQuorum" [value]="quorum">{{quorum.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="f('quorum').invalid">{{e('quorum')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field class="fullwidth">
              <input matInput [matDatepicker]="pickerBeginDate" formControlName="beginDate"
                     placeholder="Дата начала" tabindex="3"/>
              <mat-datepicker-toggle matSuffix [for]="pickerBeginDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerBeginDate></mat-datepicker>
              <mat-error *ngIf="f('beginDate').invalid">{{e('beginDate')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="fullwidth">
              <input matInput formControlName="beginTime" [dropSpecialCharacters]="false" placeholder="Время начала" mask='99:99' tabindex="4"/>
              <mat-error *ngIf="f('beginTime').invalid">{{e('beginTime')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field class="fullwidth">
              <input matInput [matDatepicker]="pickerEndDate" formControlName="endDate"
                     placeholder="Дата окончания" tabindex="5"/>
              <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerEndDate></mat-datepicker>
              <mat-error *ngIf="f('endDate').invalid">{{e('endDate')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="fullwidth">
              <input matInput formControlName="endTime" [dropSpecialCharacters]="false" placeholder="Время окончания" mask='99:99' tabindex="6"/>
              <mat-error *ngIf="f('endTime').invalid">{{e('endTime')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>

        <h4>Инициаторы:</h4>

        <mat-form-field class="fullwidth">
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let holderInitiator of holderInitiators"
              [selectable]="true"
              [removable]="true"
              (remove)="removeInitiator(holderInitiator)"
              >
              {{holderInitiator.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          <input
            placeholder="ФИО"
            matInput
            #holderInput
            [formControl]="holdersCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="false"
            tabindex="5"
          />
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let holderInitiator of filteredHolderInitiators | async"
                        [value]="holderInitiator.name">
              {{ holderInitiator.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br>

        <div formArrayName="questions">
          <div *ngFor="let question of questions.controls; let i=index" [formGroupName]="i">
            <mat-card style="padding: 20px; background-color: #fafafa">
              <h3 style="float:left;">Вопрос №{{i+1}}</h3>
              <mat-icon style="float: right; cursor:pointer;" (click)="deleteQuestion(i)">clear</mat-icon>

              <mat-form-field class="fullwidth">
                <input type="text" matInput formControlName="name" placeholder="Вопрос"/>
                <mat-error *ngIf="f('questions.'+i+'.name').invalid">{{e('questions.'+i+'.name')}}</mat-error>
              </mat-form-field>
              <mat-form-field class="fullwidth">
                <textarea matInput formControlName="description" placeholder="Описание" style = "overflow:hidden"></textarea>
                <mat-error *ngIf="f('questions.'+i+'.description').invalid">{{e('questions.'+i+'.description')}}</mat-error>
              </mat-form-field>
              <mat-form-field class="fullwidth">
                <mat-select formControlName="quorum" placeholder="Кворум">
                  <mat-option *ngFor="let quorum of meetingEnums.MeetingQuorum" [value]="quorum">{{quorum.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="f('questions.'+i+'.quorum').invalid">{{e('questions.'+i+'.quorum')}}</mat-error>
              </mat-form-field>

              <mat-grid-list cols="4" rowHeight="4em" *ngIf="question.value.attachs.length > 0">
                <mat-grid-tile *ngFor="let file of getFilesForView(question)" style="cursor: pointer" (click)="deleteFile(question, file)">
                  <div style="width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <mat-icon style="vertical-align: middle">insert_drive_file</mat-icon> {{file.name}}
                  </div>
                </mat-grid-tile>
              </mat-grid-list>

              <a mat-raised-button (click)="inputFile.click()">Добавить файл</a>
              <input (change)="fileSelect($event, question)" #inputFile type="file" multiple [style.display]="'none'">
            </mat-card>
          </div>
        </div>

        <div style="text-align: center">
          <a mat-raised-button (click)="addQuestion()">Добавить вопрос №{{questions.controls.length+1}}</a>
        </div>

        <br>

        <div style="text-align: right">
          <button mat-raised-button
                  type="submit" #sbmt
                  tabindex="20"
                  [disabled]="form.pristine || form.status == 'INVALID'"

          >
            <mat-icon *ngIf="savingForm" class="spinner">autorenew</mat-icon>
            {{(btnTitle)}}
          </button>
          <a mat-raised-button *ngIf="meeting" (click)="goToReview()">На проверку</a>
        </div>
      </form>
    </section>
  </mat-card-content>
</mat-card>
