.mat-column-select {
  overflow: visible;
}
.select {
  flex: 0 0 5%;
}
.state {
  flex: 0 0 14%;
}
.kind {
  flex: 0 0 14%;
}
.initiator {
  flex: 0 0 15%;
}
.beginDate, .endDate {
  flex: 0 0 20%;
}
.loadDate {
  flex: 0 0 12%;
}
.tile-left {
  float: left;
  width: 100%;
}
.tile-right {
  right: 16px;
  position: absolute;
}
