<app-profile></app-profile>

<mat-card>
  <mat-card-title>Новости дома</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <!--<mat-card-content>-->
    <!--24.03.2018 в 19:35-->
    <!--В "Плане работ" изменения: Новая задача "Установка столбиков безопасности"-->
    <!--</mat-card-content>-->
    <!--<mat-card-content>-->
    <!--19.02.2018 в 10:12-->
    <!--"Давайте организуем субботник" - добавлена новая тема в форуме-->
    <!--</mat-card-content>-->
  </mat-card-content>
</mat-card>


