<div class="containerlogin" *ngIf="form">
  <div class="center-box">
    <mat-card class="loginCard">
      <mat-card-content class="primaryColor" style="text-align: center">
        <img style="vertical-align: middle; " src="/assets/rq_white.png" alt="">
      </mat-card-content>
      <mat-card-title style="text-align: center">Регистрация</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <form name="registerform" #regForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="form">
          <mat-form-field style="width: 100%">
            <span matPrefix>+7 &nbsp;</span>
            <input matInput type="text" name="phone" formControlName="phone" placeholder="Номер телефона" mask='9999999999'>
            <mat-error *ngIf="f('phone').invalid">{{e('phone')}}</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="f('key')" style="width: 100%">
            <input matInput type="text" name="key" formControlName="key" placeholder="Код">
            <mat-error *ngIf="f('key').invalid">{{e('key')}}</mat-error>
          </mat-form-field>

          <p style="width: 100%; text-align: right">
            <button mat-raised-button routerLink="/login">Отмена</button>

            <button mat-raised-button *ngIf="f('key')" [disabled]="timeLeft > 0 || resendLoader" (click)="resendCode()">
              Получить новый код
              <ng-container *ngIf="timeLeft > 0" class="small">({{timeLeft}})</ng-container>
            </button>

            <button mat-raised-button [disabled]="form.status == 'INVALID' || loader ">
              <mat-icon *ngIf="loader" class="spinner">autorenew</mat-icon>
              {{submitLabel}}
            </button>
          </p>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>


