<mat-card-content>

  <h3>Собственники</h3>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef [ngClass]="'select'">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'select'">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(element) : null"
                      [checked]="selection.isSelected(element)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="holderName">
      <mat-header-cell *matHeaderCellDef [ngClass]="'holder-name'"> ФИО </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'holder-name'"> {{element.realHolderName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="certificateNumber">
      <mat-header-cell *matHeaderCellDef [ngClass]="'certificate-number'"> Номер свидетельства </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'certificate-number'"> {{element.certificateNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="certificateDate">
      <mat-header-cell *matHeaderCellDef [ngClass]="'certificate-date'"> Дата свидетельства </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'certificate-date'"> {{element.certificateDate|date:'dd.MM.yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="shareAmount">
      <mat-header-cell *matHeaderCellDef [ngClass]="'holder-share-amount'"> Часть доли </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'holder-share-amount'"> {{element.shareAmount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="participationMeeting">
      <mat-header-cell *matHeaderCellDef [ngClass]="'holder-participationMeeting'"> Учавствует в ОСС </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'holder-participationMeeting'"> {{element.participationMeeting ? 'Да' : 'Нет'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="councilman">
      <mat-header-cell *matHeaderCellDef [ngClass]="'holder-councilman'"> Член совета </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'holder-councilman'"> {{element.councilman ? 'Да' : 'Нет'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="areaMeters">
      <mat-header-cell *matHeaderCellDef [ngClass]="'holder-areaMeters'"> Кол-во голосов </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'holder-areaMeters'"> {{element.voteCount.areaMeters}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="percent">
      <mat-header-cell *matHeaderCellDef [ngClass]="'holder-percent'"> Процент голосов </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'holder-percent'"> {{element.voteCount.percent}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/holder/{{row.id}}"></mat-row>
  </mat-table>

  <br>

  <a mat-raised-button routerLink="/apartment/{{apartmentId}}/holder">Добавить</a>
  <a mat-raised-button (click)="openDeleteDialog()">Удалить</a>
</mat-card-content>
