.holder-percent, .holder-areaMeters {
    flex: 0 0 7%;
}
.holder-share-amount {
  flex: 0 0 6%;
}
.certificate-date {
    flex: 0 0 11%;
}
.bools {
  flex: 0 0 9%;
}
.holder-name {
    flex: 0 0 17%;
}
.certificate-number {
  flex: 0 0 14%;
}
.power-of-attorney-name {
  flex: 0 0 15%;
}
.power-of-attorney-date {
  flex: 0 0 10%;
}
.select {
    flex: 0 0 4%;
}
.mkd-info-holders-list {
    float: left;
    width: 100%;
}
.mat-column-select {
    overflow: visible;
}
mat-chip.mat-chip.mat-primary.ng-star-inserted {
  margin: 2px 0 2px 4px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 16px;
}
