<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="0">
  <mat-sidenav #snav [opened]="true" mode="side" [fixedInViewport]="false" fixedTopGap="56">
    <mat-nav-list>
      <a [routerLink]="['/admin']" mat-list-item><mat-icon>account_circle</mat-icon>Главная</a>
      <mat-divider></mat-divider>
      <a [routerLink]="['/admin/chairman']" mat-list-item><mat-icon>whatshot</mat-icon>Создание МКД</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
