:host {
    display: flex;
}
.menu-item {
  margin-left: 10px;
  margin-right: 10px;
}

.long-text {
  line-height:20px; white-space:normal; max-width:220px;
}
/* Правки на маленький экран */
@media only screen and (max-width: 999px) {
    .long-text {max-width:170px;}
}