<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <!--<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
        <a mat-button routerLink="/">Онлайн МКД</a>
        <a mat-button routerLink=".">Закупки</a>
        <a mat-button routerLink=".">Обслуживание</a>
        <a mat-button routerLink=".">Форум</a>
        <div style="-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;"></div>
        <a *ngIf="auth" mat-button> {{(auth.user.lastName)}} {{(auth.user.firstName)}} {{(auth.user.secondName)}}</a>

        <mat-form-field *ngIf="mkd.length > 1">
          <mat-select [(value)]="currentMkd" (change)="setCurrentMkd($event.value)">
            <mat-option *ngFor="let mkdItem of mkd" [value]="mkdItem.mkdId">
              {{ mkdItem.adress }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="mkd.length == 1">
            <div *ngFor="let mkdItem of mkd" >
              <span id="{{mkdItem.mkdId}}">{{ mkdItem.adress }}</span>
            </div>
        </div>
        <a *ngIf="authService.hasRole('ROLE_ADMIN')" mat-button routerLink="/admin">Администратор</a>
        <a mat-button (click)="logOut()">Выйти</a>
    </mat-toolbar>

        <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="0">
            <router-outlet></router-outlet>
        </mat-sidenav-container>
    </div>
</div>
