<mat-card>
  <mat-card-title>Профиль</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    asdjf ksdfh ksd fksd fksd fksd fkjsdh fksdjhfkjsdhfksdjfhsd fsd fksdj fsd f ksdfjsdkfhksjdfhskdjf sf sdkjfhskdff
    asdjf ksdfh ksd fksd fksd fksd fkjsdh fksdjhfkjsdhfksdjfhsd fsd fksdj fsd f ksdfjsdkfhksjdfhskdjf sf sdkjfhskdff
    asdjf ksdfh ksd fksd fksd fksd fkjsdh fksdjhfkjsdhfksdjfhsd fsd fksdj fsd f ksdfjsdkfhksjdfhskdjf sf sdkjfhskdff
    asdjf ksdfh ksd fksd fksd fksd fkjsdh fksdjhfkjsdhfksdjfhsd fsd fksdj fsd f ksdfjsdkfhksjdfhskdjf sf sdkjfhskdff
    asdjf ksdfh ksd fksd fksd fksd fkjsdh fksdjhfkjsdhfksdjfhsd fsd fksdj fsd f ksdfjsdkfhksjdfhskdjf sf sdkjfhskdff
    asdjf ksdfh ksd fksd fksd fksd fkjsdh fksdjhfkjsdhfksdjfhsd fsd fksdj fsd f ksdfjsdkfhksjdfhskdjf sf sdkjfhskdff
    asdjf ksdfh ksd fksd fksd fksd fkjsdh fksdjhfkjsdhfksdjfhsd fsd fksdj fsd f ksdfjsdkfhksjdfhskdjf sf sdkjfhskdff

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </mat-card-content>
</mat-card>
