<div *ngIf="auth">
  <mat-card>

    <mat-card-title>Здравствуйте, {{(auth.user.firstName)}} {{(auth.user.secondName)}}!</mat-card-title>

    <div *ngIf="mkdInfo">
      <mat-divider></mat-divider>

      <div *ngIf="mkdInfo.ownerInfo">
        <mat-card-content>
          Вы являетесь собственником по адресу {{mkdInfo.ownerInfo.address}}, {{ownerApartmentsStr}}
          и владеете {{mkdInfo.ownerInfo.mkdPercent}}% голоса от общего числа собственников в доме.
        </mat-card-content>
      </div>

      <div *ngIf="mkdInfo.powerOfAttorneyInfo">
        <mat-card-content>
          Вы являетесь доверенным лицом по адресу {{mkdInfo.powerOfAttorneyInfo.address}}, {{powerOfAttorneyApartmentsStr}}
          и владеете {{mkdInfo.powerOfAttorneyInfo.mkdPercent}}% голоса от общего числа собственников в доме.
        </mat-card-content>
      </div>

      <mat-card-content>
        <mat-grid-list cols="1" gutterSize="15" rowHeight="6em">
          <div *ngIf="mkdInfo.meetings">
            <mat-grid-tile *ngFor="let meetingInfo of mkdInfo.meetings">
              <mat-card-content class="tile" *ngIf="meetingInfo.state.id == 'Project'">
                <a routerLink="/meeting/{{meetingInfo.id}}">Ознакомьтесь с замечаниями</a>
                к Сообщению о проведении общего собрания собственников от {{meetingInfo.beginDate | date:'dd.MM.yyyy'}}г:
                <br><br>
                {{meetingInfo.adminComment}}
              </mat-card-content>

              <mat-card-content class="tile" *ngIf="meetingInfo.state.id == 'Review'">
                <a routerLink="/meeting/{{meetingInfo.id}}">
                Сообщение о проведении общего собрания собственников от {{meetingInfo.beginDate | date:'dd.MM.yyyy'}}г.
                </a>
                <br><br>
                Автор: {{meetingInfo.initiator}}, {{meetingInfo.initiatorPhone}}
              </mat-card-content>

              <mat-card-content class="tile" *ngIf="meetingInfo.state.id == 'Ready' && meetingInfo.isUserInitiator">
                Сообщение о проведении общего собрания собственников от 01.06.2018г.
                <a routerLink="/meeting/{{meetingInfo.id}}">размещено в информационной системе</a> {{meetingInfo.beginDate | date:'dd.MM.yyyy HH:mm'}} местного времени.
              </mat-card-content>

              <mat-card-content class="tile" *ngIf="meetingInfo.state.id == 'Ready' && !meetingInfo.isUserInitiator">
                c {{meetingInfo.beginDate | date:'dd.MM.yyyy'}}г. по {{meetingInfo.endDate | date:'dd.MM.yyyy'}}г.
                <br><br>
                в нашем доме проходит <a routerLink="/meeting/{{meetingInfo.id}}">голосование</a>
              </mat-card-content>

              <mat-card-content class="tile" *ngIf="meetingInfo.state.id == 'Vote'">
                c {{meetingInfo.beginDate | date:'dd.MM.yyyy'}}г. по {{meetingInfo.endDate | date:'dd.MM.yyyy'}}г.
                <br><br>
                в нашем доме проходит <a routerLink="/meeting/{{meetingInfo.id}}">голосование</a>
              </mat-card-content>

              <mat-card-content class="tile" *ngIf="meetingInfo.state.id == 'Complete'">
                Пожалуйста, ознакомьтесь с <a routerLink="/meeting/{{meetingInfo.id}}">результатами голосования от {{meetingInfo.beginDate | date:'dd.MM.yyyy'}}г.</a>
              </mat-card-content>
            </mat-grid-tile>
          </div>

          <mat-grid-tile *ngIf="mkdInfo.questionary">
            <mat-card-content class="tile">
              Пожалуйста, примите участие в опросе
              <a routerLink="/questionary/{{mkdInfo.questionary.id}}">"{{mkdInfo.questionary.name}}"</a>.
            </mat-card-content>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>

    </div>
  </mat-card>
</div>
