mat-grid-tile {
  background: #eeeeee;
  display:table; width:100%;
}
.tile {
  text-align: center;
  display:table-cell; vertical-align:middle;
  width: 100%;
}

a {
  font-weight: bold;
}

.voting-info{

}
