<div *ngIf="auth">
  <mat-card>

    <mat-card-title>Здравствуйте, {{(auth.user.firstName)}} {{(auth.user.secondName)}}!</mat-card-title>
    <div *ngIf="mkdInfo">
      <mat-divider></mat-divider>
      <div *ngIf="mkdInfo.ownerInfo">
        <mat-card-content>
          Вы являетесь собственником квартиры по адресу {{mkdInfo.ownerInfo.address}}, {{ownerApartmentsStr}}
          и владеете {{mkdInfo.ownerInfo.mkdPercent}}% голоса от общего числа собственников в доме.
        </mat-card-content>
      </div>
      <div *ngIf="mkdInfo.powerOfAttorneyInfo">
        <mat-card-content>
          Вы являетесь доверенным лицом квартиры по адресу {{mkdInfo.powerOfAttorneyInfo.address}}, {{powerOfAttorneyApartmentsStr}}
          и владеете {{mkdInfo.powerOfAttorneyInfo.mkdPercent}}% голоса от общего числа собственников в доме.
        </mat-card-content>
      </div>
      <mat-card-content>
        <!--<div class="voting-info">-->
          <!--<mat-grid-list cols="1" rowHeight="6:1">-->
            <!--<mat-grid-tile>-->
              <!--<div>-->
                <!--с 01.05.2017 с 20:00 по 05.05.2018 года 20:00 в доме проходит голосование.<br>-->

                <!--<a href="">Перейти в раздел голосования</a><br>-->

                <!--До завершения осталось 3 дня-->
              <!--</div>-->
            <!--</mat-grid-tile>-->

          <!--</mat-grid-list>-->
        <!--</div>-->

        <div *ngIf="mkdInfo.questionary">
          <mat-grid-list cols="1" rowHeight="6:1">
            <mat-grid-tile>
              <div>
                Пожалуйста, примите участие в опросе
                "{{mkdInfo.questionary.name}}":
                http://onlinemkd.ru/anketa/3/Id={{mkdInfo.questionary.id}}
              </div>
            </mat-grid-tile>

          </mat-grid-list>
        </div>

      </mat-card-content>

    </div>
  </mat-card>
</div>
