.floor, .porch, .total-share{
    flex: 0 0 10%;
}
.apartment-number {
    flex: 0 0 15%;
}
.ownership {
    flex: 0 0 25%;
}
.utilization {
  flex: 0 0 15%;
}
.area {
    flex: 0 0 10%;
}
.select {
    flex: 0 0 5%;
}

.mkd-info-holders-list {
    float: left;
    width: 100%;
}

.mat-column-select {
    overflow: visible;
}

.red {
  color: red;
}
