<div class="containerlogin">
  <div class="center-box">
    <div *ngIf="auth && auth.status === 'AUTHENTICATED'">
      You are logged in as {{auth.login}} {{(auth.user.lastName)}} {{(auth.user.firstName)}} {{(auth.user.secondName)}}
      <a mat-raised-button routerLink="/">Goto portal</a>
      <button mat-raised-button (click)="doLogout()">Logout</button>
    </div>
    <div *ngIf="!auth">
      Getting status
    </div>
    <mat-card *ngIf="auth && auth.status === 'NOT_AUTHENTICATED'">
      <mat-card-title>Вход</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <form name="loginform">
          <mat-form-field class="fullwidth">
            <input matInput id='login' name="login" [(ngModel)]="login" placeholder="Логин">
          </mat-form-field>
          <mat-form-field class="fullwidth">
            <input matInput type="password" id='password' name="password" [(ngModel)]="password" placeholder="Пароль">
          </mat-form-field>
          <div style="text-align: right">
            <a mat-button routerLink="/register">Зарегистрироваться</a>

            <button mat-raised-button (click)="doLogin()">Войти</button>
          </div>

          <div style="color: red;" *ngIf="errorMessage">
            {{errorMessage}}
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>


