.container {
    display: flex;
    height: 100%;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center;
    padding-bottom: 20%;
    box-sizing: border-box;
    background-color: rgb(224, 224, 224);
}