<h1>Debug login form</h1>
<div *ngIf="auth && auth.status === 'AUTHENTICATED'">
  You are logged in as {{auth.login}} {{(auth.user.lastName)}} {{(auth.user.firstName)}} {{(auth.user.secondName)}}
  <button (click)="doLogout()">Logout</button>




</div>

<div *ngIf="auth && auth.status === 'NOT_AUTHENTICATED'">
  You are not logged in, login please
  <form name="loginform">
    <label for="login">Login</label> <input id='login' name="login" [(ngModel)]="login">
    <label for="password">Password</label> <input id='password' name="password" [(ngModel)]="password">
    <button (click)="doLogin()">Login</button>

    <div style="color: red;" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

  </form>
</div>

<div *ngIf="!auth">
  Getting status
</div>
