.select {
  flex: 0 0 5%;
}
.name {
  flex: 0 0 40%;
}
.state {
  flex: 0 0 15%;
}
.response-count {
  flex: 0 0 10%;
}
.quorum {
  flex: 0 0 15%;
}
.date {
  flex: 0 0 15%;
}
.mat-row:hover {
  background-color: #bbdefb;
  cursor: pointer;
}
.mat-column-select {
  overflow: visible;
}
