.select {
  flex: 0 0 5%;
}
.name {
  flex: 0 0 40%;
}
.state {
  flex: 0 0 20%;
}
.response-count {
  flex: 0 0 15%;
}
.date {
  flex: 0 0 20%;
}
.mat-column-select {
  overflow: visible;
}
.tile-left {
  float: left;
  width: 100%;
}
