<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav [opened]="true" [mode]="'side'" [fixedInViewport]="false" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active"><mat-icon>account_circle</mat-icon>Новости</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/apartments-list" routerLinkActive="active" *ngIf="hasPrivileges"><mat-icon>list</mat-icon>Реестр собственников</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/questionary-list" routerLinkActive="active" *ngIf="hasPrivileges"><mat-icon>whatshot</mat-icon>Опросы</a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="hasPrivileges"><mat-icon>content_paste</mat-icon>План работ</a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="hasPrivileges"><mat-icon>account_balance</mat-icon>Бюджет дома</a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="hasPrivileges"><mat-icon>group</mat-icon>Общее собрание</a>
      <mat-nav-list dense>
          <a mat-list-item *ngIf="hasPrivileges"><mat-icon>group_add</mat-icon>Создать собрание</a>
          <a mat-list-item *ngIf="hasPrivileges"><mat-icon>timelapse</mat-icon>Действующие собрания</a>
          <a mat-list-item *ngIf="hasPrivileges"><mat-icon>people_outline</mat-icon>Архив собраний</a>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="hasPrivileges"><mat-icon>checkbox</mat-icon>Заявки</a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="hasPrivileges"><mat-icon>attachment</mat-icon>Номенклатура</a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="hasPrivileges"><mat-icon>forum</mat-icon>Объявления</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
