<mat-sidenav #snav [opened]="true" mode="side" [fixedInViewport]="false" fixedTopGap="56">
    <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active"><mat-icon>account_circle</mat-icon>Новости</a>
        <a mat-list-item><mat-icon>account_circle</mat-icon>Мой профиль</a>
        <mat-nav-list dense>
            <a mat-list-item><mat-icon>business</mat-icon>ул. Сибирская, д. 31</a>
            <a mat-list-item><mat-icon>business</mat-icon>ул. Лебедева, д. 111</a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>whatshot</mat-icon>Потребность</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>content_paste</mat-icon>План работ</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>account_balance</mat-icon>Бюджет дома</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>group</mat-icon>Общее собрание</a>
        <mat-nav-list dense>
            <a mat-list-item><mat-icon>list</mat-icon>Реестр собственников</a>
            <a mat-list-item><mat-icon>group_add</mat-icon>Создать собрание</a>
            <a mat-list-item><mat-icon>timelapse</mat-icon>Действующие собрания</a>
            <a mat-list-item><mat-icon>people_outline</mat-icon>Архив собраний</a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>checkbox</mat-icon>Заявки</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>attachment</mat-icon>Номенклатура</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>forum</mat-icon>Объявления</a>
    </mat-nav-list>
</mat-sidenav>

<div style="margin-left: 320px;">
    <router-outlet></router-outlet>
</div>
