<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav [opened]="true" [mode]="'side'" [fixedInViewport]="false" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active"><mat-icon>account_circle</mat-icon>
        Новости
        <mat-divider></mat-divider>
      </a>
      <a mat-list-item routerLink="/apartments-list" routerLinkActive="active" *ngIf="hasSuperPrivileges"><mat-icon>list</mat-icon>
        Квартиры
        <mat-divider></mat-divider>
      </a>
      <a mat-list-item *ngIf="hasSuperPrivileges || hasHolderPrivileges" routerLink="/questionary-list" routerLinkActive="active"><mat-icon>whatshot</mat-icon>
        Опросы
        <mat-divider></mat-divider>
      </a>
      <!--
      <a mat-list-item *ngIf="hasSuperPrivileges"><mat-icon>content_paste</mat-icon>
        План работ
        <mat-divider></mat-divider>
      </a>
      <a mat-list-item *ngIf="hasSuperPrivileges"><mat-icon>account_balance</mat-icon>
        Бюджет дома
        <mat-divider></mat-divider>
      </a>-->
      <a mat-list-item *ngIf="hasSuperPrivileges || hasHolderPrivileges" routerLink="/meeting-list" routerLinkActive="active"><mat-icon>group</mat-icon>
        Общие собрания
        <mat-divider></mat-divider>
      </a>
      <!--
      <a mat-list-item *ngIf="hasSuperPrivileges"><mat-icon>checkbox</mat-icon>
        Заявки
        <mat-divider></mat-divider>
      </a>
      <a mat-list-item *ngIf="hasSuperPrivileges"><mat-icon>attachment</mat-icon>
        Номенклатура
        <mat-divider></mat-divider>
      </a>
      <a mat-list-item *ngIf="hasSuperPrivileges"><mat-icon>forum</mat-icon>
        Объявления
      </a>-->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
