<mat-card *ngIf="meetingRights">

  <mat-card-title>{{(meetingInfo?.name)}}</mat-card-title>
  <mat-divider></mat-divider>

  <app-meeting-info [info]="meetingInfo"></app-meeting-info>

  <mat-divider></mat-divider>

  <mat-tab-group>
    <mat-tab label="Не участвуют в ОСС" *ngIf="meetingRights.showNotParticipationMeeting">
      <app-meeting-not-participation [meetingId]="meetingId"></app-meeting-not-participation>
    </mat-tab>
    <mat-tab label="Собрание" *ngIf="meetingRights.showVote">
      <app-meeting-vote [meeting]="meetingInfo" [meetingRights]="meetingRights" *ngIf="meetingInfo"></app-meeting-vote>
    </mat-tab>
    <mat-tab label="Результаты" *ngIf="meetingRights.showResult">
      <app-meeting-result [meeting]="meetingInfo" *ngIf="meetingInfo"></app-meeting-result>
    </mat-tab>
    <mat-tab label="Активность" *ngIf="meetingRights.showActivity">
      <app-meeting-activity [meetingId]="meetingId"></app-meeting-activity>
    </mat-tab>
  </mat-tab-group>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <a mat-raised-button *ngIf="meetingRights.showReadyBtn" (click)="goToProcess()">Запустить</a>
    <a mat-raised-button *ngIf="meetingRights.showCorrectBtn" (click)="goToCorrect()">На доработку</a>
    <a mat-raised-button *ngIf="meetingRights.showStartZipBtn" (click)="loadToZip()">Выгрузить пакет документов</a>
    <a mat-raised-button *ngIf="meetingRights.showAdminBtn && meetingInfo?.state.id == 'Ready'" (click)="firstNotify()">Первое уведомление ОСС</a>
    <a mat-raised-button *ngIf="meetingRights.showAdminBtn && meetingInfo?.state.id == 'Ready'" (click)="secondNotify()">Второе уведомление ОСС</a>
    <a mat-raised-button *ngIf="meetingRights.showAdminBtn && meetingInfo?.state.id == 'Vote'" (click)="thirdNotify()">Третье уведомление ОСС</a>
    <a mat-raised-button *ngIf="meetingRights.showAdminBtn && meetingInfo?.state.id == 'Vote'" (click)="fourNotify()">Четвертое уведомление ОСС</a>
    <a mat-raised-button *ngIf="meetingRights.showAdminBtn && meetingInfo?.state.id == 'Complete'" (click)="archiveMeeting()">Архивировать</a>
  </mat-card-actions>

</mat-card>
<router-outlet></router-outlet>
