<mat-card-content>

  <section *ngIf="form && questionary">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card style="margin:5px 0; background-color: #fafafa" *ngIf="files.length > 0">
        <mat-card-content>
          <h3>Приложенные файлы</h3>
          <mat-grid-list cols="4" rowHeight="4em">
            <mat-grid-tile *ngFor="let file of files" style="cursor: pointer" (click)="downloadFile(file)">
              <div style="width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <mat-icon *ngIf="file.loader" style="vertical-align: middle" class="spinner">autorenew</mat-icon>
                <mat-icon *ngIf="!file.loader" style="vertical-align: middle">insert_drive_file</mat-icon> {{file.name}}
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>

      <div formArrayName="responses">
        <div *ngFor="let question of responses.controls; let i=index" [formGroupName]="i">
          <mat-card style="margin:5px 0; background-color: #fafafa">
            <mat-card-content>

              <h3>{{i+1}}. {{questionary.questions[i].name}}</h3>

              <mat-radio-group *ngIf="questionary.questions[i].type == 'Single'" class="radio-group" formControlName="questionOptionIds">
                <mat-radio-button *ngFor="let option of questionary.questions[i].options; let j=index" class="radio-button" [value]="option.id">
                  {{option.name}}
                </mat-radio-button>
              </mat-radio-group>

              <mat-radio-group *ngIf="questionary.questions[i].type == 'Score'" class="radio-group-row" formControlName="questionOptionIds">
                <mat-radio-button *ngFor="let option of questionary.questions[i].options; let j=index" class="radio-button" [value]="option.id">
                  {{option.number}}
                </mat-radio-button>
              </mat-radio-group>

              <div *ngIf="questionary.questions[i].type == 'Multiple'" formArrayName="questionOptionIds">
                <div *ngFor="let option of questionary.questions[i].options; let j=index" [formGroupName]="j">
                  <mat-checkbox formControlName="value">{{questionary.questions[i].options[j].name}}</mat-checkbox>
                </div>
              </div>

              <mat-form-field *ngIf="questionary.questions[i].type == 'FreeForm'" class="fullwidth">
                <textarea matInput rows="4" formControlName="freeAnswer" placeholder="Ваш ответ"></textarea>
              </mat-form-field>


              <mat-error *ngIf="f('responses.'+i).invalid">
                {{e('responses.'+i)}}
              </mat-error>

            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div style="text-align: right">
        <button mat-raised-button
                type="submit" #sbmt
                [disabled]="form.status == 'INVALID' || form.disabled || loader">
          <mat-icon *ngIf="loader" class="spinner">autorenew</mat-icon>
          Сохранить
        </button>
      </div>
      <!--<a mat-raised-button (click)="log()">Test</a>-->
    </form>

    <!--<pre style="font-size: 9px;">{{ prepareSaveForm() | async | json }}</pre>-->
  </section>
</mat-card-content>
