div.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

div.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.containerlogin {
    display: flex;
    height: 100%;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center;
    box-sizing: border-box;
}

.center-box {
    padding-bottom: 10vh;
}

.spinner {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

#agree .mat-checkbox-inner-container {
    margin-top: 3px !important;
}

#agree .mat-checkbox-label {
    line-height: 12px !important;
    font-size: 12px !important;
    color: grey !important;
}

.overflow {
    overflow: visible !important;
}

.tile-contents-top-left .mat-figure {
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

a {
    text-decoration: none;
    color: #0e3f66;
}
