.address {
  flex: 0 0 15%;
}
.administrationType {
  flex: 0 0 15%;
}
.apartmentCount {
  flex: 0 0 8%;
}
.area {
  flex: 0 0 10%;
}
.chairman {
  flex: 0 0 13%;
}
.admin {
  flex: 0 0 13%;
}
.floorCount {
  flex: 0 0 8%;
}
.porchCount {
  flex: 0 0 9%;
}
.loadDate {
  flex: 0 0 9%;
}
