<mat-card>
  <!--<mat-card-title>Создание нового МКД</mat-card-title>-->
  <!--<mat-divider></mat-divider>-->
  <mat-card-content>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
    </mat-form-field>

    <mat-table #table [dataSource]="dataSource" matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Адрес</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="apartmentCount">
        <mat-header-cell *matHeaderCellDef> Количество квартир</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.apartmentCount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="administrationType">
        <mat-header-cell *matHeaderCellDef> Тип</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.administrationType?.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef> Площадь</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.area}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="chairmanId">
        <mat-header-cell *matHeaderCellDef> Председатель</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.chairmanId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="floorCount">
        <mat-header-cell *matHeaderCellDef> Количество этажей</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.floorCount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="porchCount">
        <mat-header-cell *matHeaderCellDef> Количество подъездов</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.porchCount}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [length]="totalLength"
                   [(pageSize)]="selectedPageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [showFirstLastButtons]="true">
    </mat-paginator>

    <mat-card-actions>
      <a routerLink="/admin/chairman" mat-raised-button>Добавить</a>
    </mat-card-actions>

  </mat-card-content>
</mat-card>
